<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find title</title>
</head>
<body>
    <h1>Search App</h1>
    <form method="post" action="/search">
        <label for="search_query">Search:</label>
        <input type="text" name="search_query" required>
        <button type="submit">Search</button>
    </form>

    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
</body>
</html>
