{% extends 'base.html' %}

{% block title %} Tracks {% endblock %}

{% block content %}
    <table border="1">
        <thead>
           <tr>
               <th>Cover</th>
               <th>Track Id</th>
               <th>Title</th>
               <th>Artist</th>
               <th>Length</th>
               <th>Copy</th>
               <th>Link</th>                
           </tr>
       </thead>
       <tbody>
           {% for result in results['data'] %}
           <tr>
               <td><img src="{{result.album['cover_small']}}"></td>
               <td>{{result.id}}</td>
               <td>{{result.title}}</td>
               <td>{{result.artist['name']}}</td>
               <td>{{result.duration//60}}:{% if result.duration%60 < 10 %}0{{result.duration%60}}{% else %}{{result.duration%60}}{%endif%}</td>
               <td>{{result.id}} = "{{result.title}}"</td>
               <td><a href="{{result.link}}">link</a></td>
           </tr>
           {% endfor %}
       </tbody>
   </table>
{% endblock %}